@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Russo+One&display=swap');

:root {
    --brand-orange: #fe750f;
    --brand-purple: #a600ea; 
    --brand-neonorange: #ff7f00;
    --brand-neonpurple: #a600ea; 
}

body {
  /* background-image: linear-gradient(to bottom, var(--brand-neonorange) 0%, var(--brand-neonorange) 30%, var(--brand-neonpurple) 70%, var(--brand-neonpurple) 100%); */
  background-color: black;
  background-attachment: fixed;
  padding-top: 145px; /* makes room for navbar at load time */
}

.russo-font{
  font-family: 'Russo One', sans-serif;
}

/* 
Overwrides the styling for the <li> containing  the pagination dots for
the SimpleSlider component from react-slick.
*/
.slick-dots li {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 10px !important;
}

.Home_slider-img__wxBfh{
  height: 46.5em !important;
}
