@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Russo+One&display=swap');

:root {
    --brand-orange: #fe750f;
    --brand-purple: #a600ea; 
    --brand-neonorange: #ff7f00;
    --brand-neonpurple: #a600ea; 
}

body {
  /* background-image: linear-gradient(to bottom, var(--brand-neonorange) 0%, var(--brand-neonorange) 30%, var(--brand-neonpurple) 70%, var(--brand-neonpurple) 100%); */
  background-color: black;
  background-attachment: fixed;
  padding-top: 145px; /* makes room for navbar at load time */
}

.russo-font{
  font-family: 'Russo One', sans-serif;
}

/* 
Overwrides the styling for the <li> containing  the pagination dots for
the SimpleSlider component from react-slick.
*/
.slick-dots li {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 10px !important;
}

.nav-link{
  color: var(--brand-purple) !important;
}

.nav-link:hover{
  color: var(--brand-neonorange) !important;
  text-shadow: 
  0 0 5px currentColor, 
  0 0 10px currentColor, 
  0 0 15px currentColor;
  transition: ease-in-out 0.9s;
}

.nav-link-active{
  color: var(--brand-neonorange) !important;
  border-bottom: 2px solid var(--brand-neonorange);
}
.nav-collapse{
  height: 144.14px !important;
  transition: height 0.3s ease-in-out !important;
}

.nav-expand{
  height: 108.1px !important;
  transition: height 0.3s ease-in-out !important;

}