@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Russo+One&display=swap');

:root {
    --brand-orange: #fe750f;
    --brand-purple: #a600ea; 
    --brand-neonorange: #ff7f00;
    --brand-neonpurple: #a600ea; 
}

body {
  /* background-image: linear-gradient(to bottom, var(--brand-neonorange) 0%, var(--brand-neonorange) 30%, var(--brand-neonpurple) 70%, var(--brand-neonpurple) 100%); */
  background-color: black;
  background-attachment: fixed;
  padding-top: 145px; /* makes room for navbar at load time */
}

.russo-font{
  font-family: 'Russo One', sans-serif;
}

/* 
Overwrides the styling for the <li> containing  the pagination dots for
the SimpleSlider component from react-slick.
*/
.slick-dots li {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 10px !important;
}

.Home_slider-img__wxBfh{
  /* height: 46.5em !important; */
  height: 84vh !important;
}

/* Fade Up  */

.fade-up-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fade-up-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2000ms, transform 2000ms;
}

.fade-up-appear {
  opacity: 0;
  transform: translateY(20px);
}

.fade-up-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2000ms, transform 2000ms;
}

/* Fade Left  */

.fade-left-enter {
  opacity: 0;
  transform: translateX(-10%);
}

.fade-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 2000ms, transform 2000ms;
}

.fade-left-appear {
  opacity: 0;
  transform: translateX(-10%);
}

.fade-left-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 2000ms, transform 2000ms;
}

/* Fade right  */

.fade-right-enter {
  opacity: 0;
  transform: translateX(5%);
}

.fade-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 2000ms, transform 2000ms;
}

.fade-right-appear {
  opacity: 0;
  transform: translateX(5%);
}

.fade-right-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 2000ms, transform 2000ms;
}