/* ================ Navbar ================ */
.nav-dropdown {
  width: 100%;
  background-color: white;
  padding: 0;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.1s ease-out;
}
.nav-dropdown.open {
  max-height: 500px;
  padding: 4px;
  transition: max-height 0.3s ease-in, padding 0.1s ease-in;
}

.nav-link{
  /* color: var(--brand-purple); */
  color: #fff;
}

.nav-link:hover{
  color: var(--brand-neonorange);
  text-shadow: 
  0 0 5px currentColor, 
  0 0 10px currentColor, 
  0 0 15px currentColor;
  transition: ease-in-out 0.9s;
}

.nav-link-icon:hover{
  fill: var(--brand-neonpurple);
  filter: drop-shadow(0 0 5px var(--brand-neonorange)) drop-shadow(0 0 10px var(--brand-neonorange)) drop-shadow(0 0 15px var(--brand-neonorange));
  transition: ease-in-out 0.9s;
}

.nav-link-active{
  /* color: var(--brand-neonorange) !important;
  border-bottom: 2px solid var(--brand-neonorange); */
  /* color: #fff !important; */
  border-bottom: 2px solid  #fff;
}

.nav-collapse{
  height: 144.14px !important;
  transition: height 0.3s ease-in-out !important;
  position: fixed !important;
}

.nav-expand{
  height: 108.1px !important;
  transition: height 0.3s ease-in-out !important;

}

.nav-link-btn{
  /* border: solid 2px var(--brand-purple); */
  border: solid 2px #fff;
  /* color: var(--brand-purple); */
  color: #fff;
  border-radius: 2.5px;
  padding: 2px 5px;
  transition: ease-in-out 0.3s;
}

.nav-link-btn:hover{
  color: var(--brand-neonorange);
  text-shadow: 
  0 0 5px currentColor, 
  0 0 10px currentColor, 
  0 0 15px currentColor;
  background-color: var(--brand-purple);
  border: solid 2px currentColor;
  transition: all ease-in-out 0.9s;
}

/* ================ Footer ================ */
.footer{
  padding-bottom: 5px; /* extends to bottom */
  color: #fff;
  width: 100vw;
  min-height: 40px;
  background-color:  #020617;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.footer-nav{
  width: 100%;  
  display: flex;
  justify-content: space-between;
}

.footer-nav-info{
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 645px) {
  .footer-nav-info{
    flex-direction: column;
    align-items: center;
  }
}

.footer-nav-info-address{
  margin-right: 4em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

@media (max-width: 645px) {
  .footer-nav-info-address{
    margin-top: 0.5em;
    margin-right: 0;
    text-align: center;
  }
}

.footer-nav-socials{
  display: flex;
  gap: 1em;

}

@media (max-width: 645px) {
  .footer-nav-socials{
    margin: 0.5em 0;
  }
}

.footer-copyright{

}

@media (max-width: 645px) {
  .footer-copyright{
    text-align: center;
  }
}

/* ================ Drawer ================ */

.drawer-persistent{
  width: 350px; /* Adjust as needed */
  height: 80vh;
  background-color: #fff;
  padding-top: 2em; 
  padding-bottom: 2em; 
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;


}

@media (max-width: 768px) {
  .drawer-persistent{
    height: fit-content;
    width: 100%;
    align-items: center;
  }
}

.drawer-persistent-title{
  font-size: 30px;
  font-weight:700;
  text-transform: uppercase;
  
}

/* ================ Neon Text ================ */
.neonpurple-text {
  font-size: 3rem;
  color: var(--brand-neonpurple);
  text-shadow: 
    0 0 5px currentColor, 
    0 0 10px #fff, 
    0 0 15px currentColor, 
    0 0 20px currentColor, 
    0 0 25px currentColor, 
    0 0 30px currentColor, 
    0 0 35px currentColor;
  animation: purple-glow 3s ease-in-out infinite alternate;
}

.neonorange-text {
font-size: 3rem;
color: var(--brand-neonorange);
text-shadow: 
  0 0 5px currentColor, 
  0 0 10px #fff, 
  0 0 15px #fff, 
  0 0 20px #fff, 
  0 0 25px currentColor, 
  0 0 30px currentColor, 
  0 0 35px currentColor;
animation: orange-glow  5s ease-in-out infinite alternate;
}


/* ================ Landing Sections ================ */

.sec-left-img{
  min-width: 550px;
}

.sec-right-img{
  min-width: 550px;
}

.sec-header{
  text-transform: uppercase;
  font-family: 'Amatic SC', sans-serif !important;
  font-size: 3rem !important;
  background: var(--brand-gradient-background-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.sec-text{
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.5px;  /* Adjust this value to change the letter spacing */
  /* allows text to be highlightable over the border overlay with z-index:1 */
  z-index: 2;
}

.sec-btn{
  margin-top: 2em;
  margin-bottom: 1em;
  border: solid 2px #fff;
  color: #fff;
  padding: 2px 5px;
  text-transform: uppercase;
  transition: ease-in-out 0.9s;
  /* allows links to be clickable over the border overlay z-index:1 */
  z-index: 2;

}

/* ================ Landing Sections (Colors and Shapes) ================ */

.sec-left-orange{
  color: #fff;
  font-weight: 700;
  text-shadow: -2px 0 var(--brand-purple), 0 2px var(--brand-purple), 2px 0 var(--brand-purple), 0 -2px var(--brand-purple);
  letter-spacing: 1.5px;  /* Adjust this value to change the letter spacing */
}

.sec-left-orange-bg{
  position: relative;
}

.sec-left-orange-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  background-image: url('/images/shapes/brand-orange-shape-001.png');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  opacity: 0.8;  /* Adjust this value to change the opacity */
}

.sec-right-purple{
  color: #fff;
  font-weight: 700;
  text-shadow: -2px 0 var(--brand-orange), 0 2px var(--brand-orange), 2px 0 var(--brand-orange), 0 -2px var(--brand-orange);
  letter-spacing: 1.5px;  /* Adjust this value to change the letter spacing */
}

.sec-right-purple-bg{
  position: relative;
}

.sec-right-purple-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  background-image: url('/images/shapes/brand-purple-shape-001.png');
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  opacity: 0.8;  /* Adjust this value to change the opacity */
}

/* ================ Landing Sections (Gradients) ================ */

.sec-gradient-bg {
  position: relative !important;
}

.sec-gradient-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  background-image: url('https://res.cloudinary.com/dxnxtxxep/image/upload/v1705759011/Sista%20Kim%27s/brandGradientBorder_m6vn3g.png');
  background-repeat: no-repeat;
  background-size: 98% 90%;
  background-position: center;
}

.sec-gradient-bg-overlay {
  position: relative !important;
  width: 85%;
  transition: width 0.5s ease-in-out;
}

@media (max-width: 1245px) {
  .sec-gradient-bg-overlay {
    width: 90%;
  }
}

@media (max-width: 1165px) {
  .sec-gradient-bg-overlay {
    width: 100%;
  }
}

.sec-gradient-bg-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('https://res.cloudinary.com/dxnxtxxep/image/upload/v1705759011/Sista%20Kim%27s/brandGradientBorder_m6vn3g.png');
  background-repeat: no-repeat;
  background-size: 98% 90%;
  background-position: center;
}

@media (max-width: 1024px) {
  .sec-gradient-bg::before {
    background-size: 97% 100%;
    background-image: url('https://res.cloudinary.com/dxnxtxxep/image/upload/v1705759012/Sista%20Kim%27s/brandGradientBorderMD_jrinxh.png');
  }
}

@media (max-width: 768px) {
  .sec-gradient-bg::before {
    background-size: 97% 100%;
    background-image: url('https://res.cloudinary.com/dxnxtxxep/image/upload/v1705759011/Sista%20Kim%27s/brandGradientBorder_m6vn3g.png');
  }
}

/* ================ Slider ================ */
.slider-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.slider-img-content{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  color: #d2d2d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-img-content h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  padding: 0 3em ;
}

@media (max-width: 1024px) {
  .slider-img-content h1 {
    font-size: 1.5em;
    padding: 0 1em ;
  }
}

.slider-img-content a {
  font-weight: 700;
  border: solid 2px #d2d2d2;
  margin: 0.5em 0;
  padding: 0.5em 0.75em;
  border-radius: 5.5px;
  transition: all ease-in-out 0.9s;
}

.slider-img-content a:hover{
  color: var(--brand-neonorange);
  text-shadow: 
  0 0 5px currentColor, 
  0 0 10px currentColor, 
  0 0 15px currentColor;
  background-color: var(--brand-purple);
  border: solid 2px currentColor;
  transition: all ease-in-out 0.9s;
}

.slider-img-overlay{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

/* ================ Review Scroller ================ */
  /* 
   * Adjust height this value to match the height of your content 
   * position: relative; is important for the animation to work as it allows us to make both content bars 100vw wide
   */

.scrolling-review {
  overflow: hidden;
  display: flex;
  /* width: 2500px !important; */
  width: 200vw !important;
  position: relative;
  height: 15em; 
}

@media (max-width: 768px) {
  .scrolling-review {
    width: 300vw !important;
  }
}

@media (max-width: 640px) {
  .scrolling-review {
    width: 400vw !important;
  }
}

.scrolling-review-content{
 display: flex;
  width: 100% !important; 
  animation: scroll 50s linear infinite;
}

.scrolling-review-content:hover{
  animation-play-state: paused;
}


.scrolling-review-content-bar-1 {
  display: flex;

  justify-content: space-around;
  width: 100% !important; 
  color: #fff;
  background: var(--brand-gradient-background-color);
}

  /* 
   * left: 100vw; places the content bar off screen to the right
   */
.scrolling-review-content-bar-2 {
  display: flex;
  position: absolute;
  /* left: 2499px; */
  left: 199vw;
  justify-content: space-around;
  width: 100% !important; /* Twice the width of the parent */
  color: #fff;
  background: var(--brand-gradient-background-reverse-color);
}

@media (max-width: 768px) {
  .scrolling-review-content-bar-2 {
    left: 299vw !important;
  }
}

@media (max-width: 640px) {
  .scrolling-review-content-bar-2{
    left: 399vw !important;
  }
}

/* ================ Reviews ================ */
.review {
  color: #fff;
  width: 20em;
  height: 15em
}

.review-text{
  /* height: 8em; a height component here will stop text-overflow: ellipsis; from working */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-link{
  border: solid 2px #fff;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2.5px;
}

.review-google{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100vw;
  background-color: var(--brand-purple);
  transition: background-color ease-in-out 0.9s;
}
.review-google:hover{
  background-color: var(--brand-orange);
  transition: background-color ease-in-out 0.9s;
}

.review-google-link{
  color: #fff;
  font-weight: 700;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 0.5em;
}

/* ================ Map ================ */

.map{

}

.map-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #fff;
  min-width: 200px;
  height: fit-content;
  border-radius: 8px;
  padding: 10px !important;
  background-image: url('https://res.cloudinary.com/dxnxtxxep/image/upload/v1705758799/Sista%20Kim%27s/brandGradientMapInfoBorder_sdryr5.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transform: translate(-50%, -300%);

} 

.map-info-close{
  position: absolute;
  top: 5px;
  left: 180px
}

.map-info-header{
  font-weight: 700;
}

.map-info-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-info-link{
  color: blue;
  padding-top: 4px;
  font-weight: 700;
  font-size: small;
}

.map-info-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* ================ Location ================ */

.location-map-container{
  width: 100%;
  height: 100%;
}

.location{

  
}

.location-drawer-location {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.location-drawer-location-title{
  font-size: 20px;
  font-weight:700;
}

.location-drawer-location-address{
  text-decoration: underline;
}

.location-drawer-location-hours h2{
  font-size: 15px;
  font-weight:700;
}

.location-drawer-location-zoom-btn{
  border: solid 2px #000;
  padding: 5px 10px;
  margin-top: 10px;
}

/* ================ Contact Form ================ */
.contact-form{
  padding: 0 2em;

}

.contact-form-title{
  color: #fff;
}

.contact-form-content{

}

.contact-form-content-name input{
  height: 2em;
  border-radius: 5px;
  padding: 0 0.5em;
  font-size: 1.25em;
}

.contact-form-content-email input{
  height: 2em;
  border-radius: 5px;
  padding: 0 0.5em;
  font-size: 1.25em;
}

.contact-form-content-message textarea{
  height: 10em;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  font-size: 1.25em;
}

.contact-form-content-dropdown select{
  height: 2em;
  border-radius: 5px;
  padding: 0 0.5em;
  font-size: 1.25em;
}

.contact-form-content-date-time input{
  height: 2em;
  border-radius: 5px;
  padding: 0 0.5em;
  font-size: 1.25em;
}

.contact-form-content-phonenumber input{
  height: 2em;
  border-radius: 5px;
  padding: 0 0.5em;
  font-size: 1.25em;
}

.contact-form-content-submit{

}

.contact-form-content-submit-btn{
  color: #fff;
  padding: 5px 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid 2px #fff;

}

.contact-form-content-group h1{
  color: #aeacac;
}

/* ================ Booking ================ */

.booking-header{
  display: flex;
  justify-content: center;
  width: 100%;

}

.booking-header-content{
  width: 100%;
  height: 20em;
  color: #fff;
  /* linear-gradient darkens image so Text can be overlayed */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dxnxtxxep/image/upload/v1705757606/Sista%20Kim%27s/catering_vbhs29.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 2em;
}

.booking-header-content h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2em;

}

.booking-header-content p {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2em;

}

.booking-hero{
  padding-top: 2em;
}

.booking-hero-img{

}

.booking-contact-form{
  
}

@media (max-width: 768px) {
  .booking-contact-form{
    margin-top: 2em;
  }
}

.booking-contactus{
  color: #fff;
  padding: 10px;
  padding: 0 2em;
  margin-bottom: 4em ;
}

.booking-contactus h1{
  font-weight: 700;
  font-size: 5rem;
}

.booking-hero-content{
  display: flex;
  justify-content: space-around;
  gap: 1em;
  padding: 0 2em;
}

@media (max-width: 1024px) {
  .booking-hero-content{
    flex-direction: column;
  }
}

/* ================ Catering Card ================ */
.catering-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
  max-width: 645px;
  max-height: 650px;
  background-image: url('https://res.cloudinary.com/dxnxtxxep/image/upload/v1705759012/Sista%20Kim%27s/brandGradientBorderMD_jrinxh.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  background-position: center;
}

@media (max-width: 1024px) {
  .catering-card{
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    background-image: url('https://res.cloudinary.com/dxnxtxxep/image/upload/v1705759011/Sista%20Kim%27s/brandGradientBorder_m6vn3g.png');
  }
}

@media (max-width: 	768px) {
  .catering-card{
    background-image: none;
    flex-direction: column;
  }
}


.catering-card-img-div{
  padding: 7.5px;
  max-width: 645px;
  height: 645px;
  overflow: hidden;
  
}

@media (max-width: 1024px) {
  .catering-card-img-div{
    width: 50%;
  }
}

@media (max-width: 768px) {
  .catering-card-img-div{
    width: 100%;
  }
}

.catering-card-img-div img{
 height: 100%;
 object-fit: cover;
}

.catering-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 100%;
  max-width: 645px;

}

@media (max-width: 1024px) {
  .catering-card-content{
    width: 50%;
  }
}

@media (max-width: 768px) {
  .catering-card-content{
    background-image: url('https://res.cloudinary.com/dxnxtxxep/image/upload/v1705759012/Sista%20Kim%27s/brandGradientBorderMD_jrinxh.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center;
    width: 97.5%;
  }
}



.catering-card-content-title{
  text-transform: uppercase;
  font-family: 'Amatic SC', sans-serif !important;
  font-size: 3rem !important;
  font-weight: 700;
  background: var(--brand-gradient-background-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.catering-card-content-text{
  color: #fff;
  margin-bottom: 2em;
  max-width: 75%;
  text-align: center;
}

.catering-card-content-spacer{
  height: 100%;
  width: 100%;
}

.catering-card-content-btn{
  color: #fff;
  border: solid 2px #fff;
  padding: 5px 10px;
  margin-bottom: 2em;

}

/* Stacking order for size SM */
@media (max-width: 768px) {
  .catering-card-img-div {
    order: 2;
  }

  .catering-card-content {
    order: 1;
  }
}

/* ================ Menu ================ */

.menu{
  color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}

@media (max-width: 1024px) {
  .menu{
    flex-direction: column;
    align-items: center;
    padding: 2em 2em;
  }
}

.menu-header{

}

.menu-col{
  width: 100%;
  max-width: 440px;
  min-height: 450px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em;
}

@media (max-width: 1488px) {
  .menu-col{
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1024px) {

  .menu-col-1{
    order: 2;
  }
  .menu-col-2{
    order: 1;
  }
  .menu-col-3{
    order: 3;
  }
}


.menu-col-logo{
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url('https://res.cloudinary.com/dxnxtxxep/image/upload/v1705759533/Sista%20Kim%27s/logo-menu_pkqyav.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.menu-col-logo-container{
  position: relative;
  height: 11em;
  width: 100%;
}

.menu-col-logo-header{

}

.menu-col-logo-header h1{
  width: fit-content; /* nessecary for the gradient to fully cover the text */
  text-transform: uppercase;
  font-family: 'Amatic SC', sans-serif !important;
  font-weight: 700 !important;
  font-size: 3rem !important;
  background: var(--brand-gradient-background-reverse-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

/* ================ MenuSection ================ */

.menu-section{
  color: #fff;
  width: 100%;
  background-color: black;
  font-family: 'Amatic SC', sans-serif !important;
  font-weight: 700 !important;
}

.menu-section-title{
  display: flex;
  justify-content: center;
  gap: 1em;
  height: fit-content !important;
  position: relative;
}

@media (max-width: 1488px) {
  .menu-section-title{
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.menu-section-title-additional{
  position: relative;
  width: fit-content;
}

.menu-section-title h1{
  width: fit-content; /* nessecary for the gradient to fully cover the text */
  text-transform: uppercase;
  font-size: 3rem !important;
  background: var(--brand-gradient-background-reverse-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.menu-section-title h2 {
  text-transform: uppercase;
  font-size: 2rem !important;
  padding-top: .5em;
}


@media (max-width: 1488px) {
  .menu-section-title h2{
    padding-top: 0;
  }
}

.menu-section-title h3 {
  width: 100%;
  position: absolute;
  right: -1.25em;
  top: -0.5em;
  text-transform: uppercase;
  font-size: 1.25rem !important;
  padding-top: .5em;
}


@media (max-width: 1488px) {
  .menu-section-title h3{
    position: absolute;
    right: -1.25em;
    top: -1.25em;
    padding-right: 2em;
  }
}

.menu-section-title-info{
  width: fit-content; /* nessecary for the gradient to fully cover the text */
  text-transform: uppercase;
  font-size: 1.5rem !important;
  background: var(--brand-gradient-menu-title-info);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.menu-section-items-list{
  white-space: nowrap;
}

.menu-section-items-list-item{
  display: flex;
  font-size: 1.5rem !important;
}

.menu-section-items-list-item h1{

}

.menu-section-items-list-item-spacer{
  width: 1em;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

/* ================ Animations ================ */

@keyframes orange-glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--brand-neonorange), 0 0 20px var(--brand-neonorange), 0 0 25px var(--brand-neonorange), 0 0 30px var(--brand-neonorange), 0 0 35px var(--brand-neonorange);
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px var(--brand-neonorange), 0 0 50px var(--brand-neonorange), 0 0 60px var(--brand-neonorange), 0 0 70px var(--brand-neonorange);
  }
}

@keyframes purple-glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--brand-neonpurple), 0 0 20px var(--brand-neonpurple), 0 0 25px var(--brand-neonpurple), 0 0 30px var(--brand-neonpurple), 0 0 35px var(--brand-neonpurple);
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--brand-neonpurple), 0 0 40px var(--brand-neonpurple), 0 0 50px var(--brand-neonpurple), 0 0 60px var(--brand-neonpurple), 0 0 70px var(--brand-neonpurple);
  }
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}